h1 {
    text-align: center;
    margin-top: 20px;
}

label {
    font-weight: bold;
}

.badge {
    position: absolute;
}

.form-box {
    max-width: 700px;
    margin-top: 50px;
}

.submit {
    margin-top: 45px;
    margin-right: 20px;
    height: 40px;
}

.summary {
    width: 400px;
    padding: 20px;
    margin-top: 40px;
}